<nav class="nav">
  <div class="container nav-inner">
    <a class="brand" href="/" aria-label="neondeck home">
      <span class="brand-mark" aria-hidden="true"></span>
      <span>neondeck</span>
    </a>
    <div class="nav-links" aria-label="Main navigation">
      <a href="/#deck">the_deck</a>
      <a href="/#features">features</a>
      <a href="/#config">config</a>
      <a href="/docs/">docs</a>
      <a class="button" href="https://github.com/pandemicsyn/neondeck">GitHub</a>
    </div>
  </div>
</nav>
